# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# npm installs
node_modules
npm-debug.log

# test files
coverage
.nyc_output

# sass cache folder
.sass-cache

# build and temp folders
dist
.tmp
